.quill {
	background: @pureWhite;
	border: @borderWidth solid @darkGray;
	border-radius: @inputBorderRadius;
	// height: 300px;
	height: auto;
	 * {
	 	font-family: 'Roboto Condensed', sans-serif;
	 }
	.ql-container {
		padding: @padding;
		box-sizing: border-box;
		// height: 255px;
		height: auto;
		font-size: 16px;
	}
	.ql-toolbar {
		padding: @padding/2 @padding;
		border-bottom: @borderWidth solid @darkGray;
	}
	.ql-format-group {
		margin-right: 0px !important;
	}
	.ql-size {
		width: 70px !important;
		margin-right: 5px;
		.ql-picker-label {
			padding-left: 0px !important;
		}
	}
	.ql-format-button,
	.ql-align .ql-picker-label {
		width: 34px !important;
	}
	.ql-picker.ql-expanded {
		.ql-picker-label,
		.ql-picker-options {
			border: @borderWidth solid @darkGray;
		}
	}

	// Remove buttons from toolbar
	.ql-format-separator {
		display: none !important;
	}
	.ql-picker {
		&.ql-background,
		&.ql-font {
			display: none;
		}
	}

	// Tooltips / popups


	.ql-tooltip {
		margin-left: @padding;
		padding: @padding/2 @padding;
		border: @borderWidth solid @darkGray;
		background: @white;
		box-shadow: none;
		&.ql-image-tooltip {
			margin-top: -1px;
			text-align: right;
			.preview {
				height: 120px;
				margin: @padding/2 0px;
				img {
					z-index: 1;
				}
				span {
					left: 0;
				}
			}
			a {
				width: auto;
				display: inline-block;
				float: none;
				background: @pureWhite;
				border: @borderWidth solid @darkGray;
				padding: @padding/2 @padding;
				outline: none;
				box-shadow: none;
				font-size: 1em;
				display: inline-block;
				font-family: inherit;
				cursor: pointer;
				color: @black !important;
				border-radius: @buttonBorderRadius;
				transition: @defaultTransitionQuick;
				&:hover {
					color: @black !important;
				}
				&:focus {
					outline: none;
					box-shadow: none;
					border-color: @lightBlue;
				}
			}
		}
		input {
			padding: @padding/2 @padding !important;
			border: @borderWidth solid @darkGray !important;
		}
	}
}