.quill {
	background: @pureWhite;
	border: @borderWidth solid @darkGray;
	height: 300px;
	 * {
	 	font-family: 'Roboto Condensed', sans-serif;
	 }
	.ql-container {
		padding: @padding;
	}
	.ql-toolbar {
		padding: @padding/2 @padding;
		border-bottom: @borderWidth solid @darkGray;
	}
	.ql-format-group {
		margin-right: 0px !important;
	}
	.ql-size {
		width: 70px !important;
		margin-right: 5px;
		.ql-picker-label {
			padding-left: 0px !important;
		}
	}
	.ql-format-button,
	.ql-align .ql-picker-label {
		width: 34px !important;
	}
	.ql-picker.ql-expanded {
		.ql-picker-label,
		.ql-picker-options {
			border: @borderWidth solid @darkGray;
		}
	}

	// Remove buttons from toolbar
	.ql-format-separator {
		display: none !important;
	}
	.ql-picker {
		&.ql-background,
		&.ql-font {
			display: none;
		}
	}

	// Tooltips / popups


	.ql-tooltip {
		margin-left: @padding;
		padding: @padding/2 @padding;
		border: @borderWidth solid @darkGray;
		background: @white;
		box-shadow: none;
		&.ql-image-tooltip {
			margin-top: -1px;
			text-align: right;
			.preview {
				height: 120px;
				margin: @padding/2 0px;
				img {
					z-index: 1;
				}
			}
			a {
				width: auto;
				display: inline-block;
				float: none;
			}
		}
		input {
			padding: @padding/2 @padding !important;
			border: @borderWidth solid @darkGray !important;
		}
	}
}