.list {
	background: @pureWhite;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	border: solid @borderWidth @darkGray;
}

.list-item {
	padding: @padding;
	border-bottom: solid @borderWidth @darkGray;
	&:last-of-type {
		border-bottom: 0px;
	}
	.list-buttons {
		a {
			margin-left: @padding/2;
		}
	}
}