.list {
	background: @pureWhite;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	border: solid @borderWidth @darkGray;
	border-radius: @listBorderRadius;
	&.without-border {
		border: 0px;
		background: transparent;
		border-radius: 0px;
	}
}

.list-item {
	padding: @padding;
	box-sizing: border-box;
	border-bottom: solid @borderWidth @darkGray;
	&:last-of-type {
		border-bottom-width: 0px;
	}
	&.with-bottom-border {
		border-bottom-width: @borderWidth;
		&:last-of-type {
			border-bottom-width: @borderWidth;
		}
	}
	&.dragged {
		background: @pureWhite;
		border: solid @borderWidth @darkGray;
		border-radius: @listBorderRadius;
	}
	&.placeholder {
		& > * { // Only affect immediate children (top level children)
			opacity: 0.2;
		}
	}
	.list-buttons {
		a {
			margin-left: @padding/2;
		}
	}
}

.list {
	&.inside-right-bar {
		border-radius: 0px;
		border-width: 0px;
		border-bottom-width: @borderWidth;
	}
}