.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -225px;
	height: 450px;
	margin-left: -325px;
	width: 650px;
	background: @pureWhite;
	box-shadow: 0px 0px 0px 1000px rgba(140, 140, 140, 0.8);
	z-index: 10;
	display: flex;
	flex-direction: column;
}
.modal-header {
	background: @pureWhite;
	padding: @padding @padding*2;
}
.modal-content {
	flex: 1;
	overflow: auto;
	margin: 0px;
	padding: @padding @padding*2;
	border-top: solid @borderWidth @darkGray;
	background: @appBackground;
	&.without-top-border {
		border-top: 0px;
	}
	.container {
		padding: @padding 0px;
		margin: 0px;
	}
}
.modal-footer {
	border-top: solid @borderWidth @darkGray;
	margin: 0px;
	padding: @padding @padding*2;
	background: @pureWhite;
	button, .button {
		margin-left: @padding;
	}
}

.full-fixed-height {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}