.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -225px;
	height: 450px;
	margin-left: -325px;
	width: 650px;
	background: @pureWhite;
	border: solid @borderWidth @darkGray;
	border-radius: @modalBorderRadius;
	z-index: 10;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 0px 10000px rgba(0,0,0,0.1);
}

.modal-header {
	background: @pureWhite;
	padding: @padding @padding*2;
	border-top-left-radius: @modalBorderRadius;
	border-top-right-radius: @modalBorderRadius;
}

.modal-content {
	flex: 1;
	overflow: auto;
	margin: 0px;
	padding: @padding @padding*2;
	border-top: solid @borderWidth @darkGray;
	background: @appBackground;
	&.without-top-border {
		border-top: 0px;
	}
	.container {
		padding: @padding 0px;
		margin: 0px;
	}
}

.modal-footer {
	border-top: solid @borderWidth @darkGray;
	margin: 0px;
	padding: @padding @padding*2;
	background: @pureWhite;
	border-bottom-left-radius: @modalBorderRadius;
	border-bottom-right-radius: @modalBorderRadius;
	box-shadow: @modalBoxShadow;
	button, .button {
		margin-left: @padding;
	}
}

.full-fixed-height {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}