body, html {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	background: @appBackground;
	color: @black;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	height: 100%;
	display: flex;
	width: 100%;
}

#root {
	display: flex;
	flex: 1;
}

.app-container,
.page-container {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.page-content {
	flex: 1;
}

h1, h2, h3, h4, h5, p, strong {
	margin: 0px;
	font-weight: normal;
}

p {
	line-height: 1.3em;
}

a {
	text-decoration: none;
	color: @blue;
	&:visited {
		color: @blue;
	}
	&:hover {
		color: @blueHover;
	}
}

hr {
	outline: 0px;
	border: 0px;
	box-shadow: none;
	margin: 0px;
	border-top: solid @borderWidth @darkGray;
}

.container {
	margin: @padding @padding*2;
	.container {
		margin: @padding 0px;
	}
	&.page-container {
		margin-bottom: 0px;
		margin-right: 0px;
		&.with-right-bar {
	    position: absolute;
	    top: 145px; // Compensate for top bar and breadcrumb bar
	    left: 0px;
	    bottom: 0px;
	    right: 0px;
		}
	}
}

form {
	margin: 0px;
}

.box {
	background: @pureWhite;
	padding: @padding @padding;
	border: solid @borderWidth @darkGray;
	border-radius: @listBorderRadius;
}

.aside {
	border-left: solid @borderWidth @darkGray;
	background: @white;
}

.aside-header {
	background: @pureWhite;
	padding: @padding;
	border-bottom: solid @borderWidth @darkGray;
}