// Type

.text-align-right {
	text-align: right;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

// Spacing

.left-margin {
	margin-left: @padding/2;
}

.right-margin {
	margin-right: @padding/2;
}

.bottom-margin {
	margin-bottom: @padding/2;
}

.top-margin {
	margin-top: @padding/2;
}

.clearfix {
	clear: both;
}

// Flex styles

.flex {
	display: flex;
	flex: 1;
}

.flex-vertical {
	flex-direction: column;
}

.flex-horizontal {
	flex-direction: row;
}

.row-wrap {
	flex-flow: row wrap;
}

.vertical-align {
	align-items: center;
}

.flex-0 {
	flex: 0 0 auto;
}

.flex-1 {
	flex: 1;
}

.flex-2 {
	flex: 2;
}

.flex-3 {
	flex: 3;
}

.flex-4 {
	flex: 4;
}

.flex-5 {
	flex: 5;
}

.flex-6 {
	flex: 6;
}

// Other

.transparent,
.invisible {
	opacity: 0;
	pointer-events: none;
}

.overflow-hidden {
	overflow: hidden;
}