// Scaffolding

@padding: 20px;
@borderWidth: 1px;

// Colours

@pureWhite: rgb(255, 255, 255);
@white: rgb(252, 252, 252);
@lightGray: rgb(240, 240, 240);
@midGray: rgb(230, 230, 230);
@darkGray: rgb(200, 200, 200);
@black: rgb(30, 30, 30);

@blue: rgb(88, 54, 228);
@blueHover: darken(@blue, 20%);

@red: rgb(288, 88, 54);